<!-- <div class="container"> -->
  <h1>CONTACTS</h1>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
      <a href='/contacts/new'>ADD CONTACT</a>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td>
            <a href="#">EDIT</a>
            <form action="#" method+"POST">
              <input type="submit" value="DELETE">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--   <a href='/contacts/new'>ADD CONTACT</a> -->
<!-- </div> -->
